!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">

%html.no-js
  = partial 'head'

  %body{:class => page_classes}
    %header
      /= render :partial => 'nav_bar'
    = partial 'nav_bar'
    %section{:role => "main", :class => "main"}= yield
    %footer
      = partial 'footer'
    -# Application Javascript, safe to override

    :javascript
      document.write('<script src=/js/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');

    = javascript_include_tag "foundation.min.js"
    = javascript_include_tag "jquery.pageslide.min.js"
    = javascript_include_tag "vendor/jquery.flexslider-min.js"
    = javascript_include_tag "vendor/fancybox/source/jquery.fancybox.js"
    %script{src: "//releases.flowplayer.org/5.4.4/flowplayer.min.js"}

    :javascript
      $(".open").pageslide();

    :javascript
      $(document).foundation();

    :javascript
      $(document).ready(function() {
         $('.fancybox').fancybox();
      });

    -# Google Analytics
    = javascript_include_tag "vendor/google_analytics"